대학원수업관리
학부수업관리
행정정보 공동이용
교육훈련일반
국회대응보고
급여
대학입시
물품관리
물품구매
민원처리
보안업무
당직관리
연가병가휴가관리
초과근무관리
출장관리
복지제도운영
소프트웨어관리
시스템개발및유지보수
학사행정시스템개발및유지보수
실험실습기자재관리
업무계획및보고
예산집행
예산및결산관리
위원회운영
인사일반
대학원입시
교수지원일반
교육혁신일반
국제교류본부
기타일반
기획평가일반
대외협력일반
대학원일반
대학일반
도서관일반
부속일반
시설관리일반
연구지원일반
일반서무
입학관리일반
재무일반
청람인재개발센터
총무일반
학사관리일반
학생지원일반
재정지원사업
E-러닝관리
정보화교육
국립대학 자원관리시스템(KORUS)
시스템운영관리
유지보수
정보화관련 외부업무협조
정보화주요업무
종합정보시스템 사용권한
학내망운영관리
학사행정파일신청
학적관리
학칙제개정및폐지
감사수감및결과조치
조직운영및업무분장
홈페이지운영관리
회의운영